@using Sandbox;
@using Sandbox.Network;
@using System.Diagnostics;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="info">ping: @Networking.HostConnection.Ping, Keys: mouse1-drag, mouse2-(fix,newobject), r-grab model, e-rotate object</div>
	<div class="crosshair" />
</root>

@code
{
}
