﻿@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@implements Component.INetworkListener
@namespace GeneralGame

<root>
	<div class="info">ping: @Networking.HostConnection.Ping</div>
	<div class="crosshair" />
</root>

@code
{
}
