Hud {
	position: absolute;
	height: 100vh;
	width: 100vw;

	.crosshair {
		position: absolute;
		background-color: rgba(black, 0.7);
		height: 20px;
		width: 20px;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}

	.modelback {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(113, 119, 255, 0.15);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
		border: 1px solid rgba(113, 119, 255, 0.31);
	}

	.health {
		font-size: 80px;
		position: absolute;
		top: 92%;
	}

	.info {
		position: absolute;
		left: 0px;
		top: 30px;
		width: 1000px;
		font-size: 60px;
	}

	.tool {
		position: absolute;
		left: 60%;
		left: 70%;
		top: 0px;
		font-size: 60px;
	}

	.output {
		position: absolute;
		top: 100px;
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		font-size: 30px;
		gap: 5px;
		background-color: rgba(0, 0, 0, 0.6);

		.author {
			color: #2d95ce;
			white-space: nowrap;
			flex-shrink: 0;
		}

		.message {
			color: #fff;
		}
	}

	.input {
		position: absolute;
		left: 0;
		color: white;
	}

	.tools {
		position: absolute;
		top: 91vh;
		left: 10%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		padding: 10px;
		background-color: rgba(128, 128, 128, 0.4);
		border-radius: 5px;
	}

	.tool1 {
		background-color: rgba(255, 255, 255, 0.6);
	}

	.menu {
		pointer-events: all;
		background-color: rgba(255, 255, 255, 0.4);
		width: 100%;
		left: -0.4%;
		height: 100%;
		backdrop-filter: blur( 10px );
		font-size: 50px;

		button {
			background-color: rgba(113, 119, 255, 0.15);
			transition: all 0.2s ease-out;
			height: 60px;

			&:hover {
				background-color: #333;
			}
		}

		.disconnect {
			position: absolute;
			left: 44%;
			top: 60%;
		}

		.exit {
			position: absolute;
			left: 46%;
			top: 80%;
		}
	}
}
