@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root style="pointer-events: @(!isLoad ? "all" : "none");">
	@if (!isLoad) 
	{
		<div class="hideall">
			<PackageList ShowFilters="@true" style="padding-bottom: 50px;" Query="type:map sort:trending" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>
		</div>
	}
</root>

@code
{
	public bool isLoad = Networking.IsHost;
	[Property] public GameObject BallonPrefab;
	async void OnPackageSelected( Package package )
	{
		GameObject mapinstanse = new GameObject();
		mapinstanse.Name = "Game";
		MapInstance map = mapinstanse.Components.Create<MapInstance>();
		map.MapName = package.FullIdent;
		GameController game = mapinstanse.Components.Create<GameController>();
		game.BallonPrefab = BallonPrefab;
		isLoad = true;

	}
}
